/* ------Global Config------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* ------Global Config------ */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* ------Body------ */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  background-color: #fffcfc;
}

/* ------main------ */
.header-container {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  margin: 0 auto;
  padding: 1rem 1rem;
}

#header {
  background-color: #fff;
}

/* ------Header------ */

.name {
  font-size: 30px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
}

.main {
  background-color: #e5e5e5;
}

.navbar {
  margin: 1.5rem 2rem;
}

.nav-list {
  display: none;
}

.navbar.active .nav-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 0;
  background: rgba(96, 112, 255, 0.9);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  padding: 8rem 2rem;
}

.nav-list.active,
.item-styles {
  display: block;
  margin: 2rem 0 0 0;
  text-align: justify;
  color: #fff;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

#hamburguer {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

/* ------Headline------ */
#headline {
  display: flex;
  flex-direction: column;
  background-image: url(./images/header-shapes\ mobile.svg);
  background-repeat: no-repeat;
  background-position: 0 35px;
  background-size: 100vw;
  background-color: white;
  border-radius: 0 0 0 60px;
}

.main-text {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 114px 24px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  color: #172b4d;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
  margin-top: 5%;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.social-icons {
  margin-top: 1rem;
}

#icons {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 5%;
  list-style-type: none;
}

/* ------Works------ */
#works {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  margin: auto;
}

.card-content-mob {
  display: flex;
  flex-direction: column;
  margin: 0 0 1.5rem 1.7rem;
  gap: 12px;
}

.card {
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  gap: 3rem;
  background-color: #fff;
  box-shadow: 15px 20px 20px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease-in-out;
  width: 90%;
  height: 95%;
  margin: 3rem auto;
}

.card:hover {
  transform: scale(1.02);
}

.image-mob {
  margin: 1.5rem 1rem 0 1.5rem;
  width: 90%;
}

.desktop-image,
.desktop-image2,
.desktop-image3,
.desktop-image4 {
  visibility: hidden;
  display: block;
  width: 0;
  height: 0;
}

.mobile-hide {
  visibility: hidden;
  position: absolute;
}

.tonic {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 44px;
  color: #172b4d;
}

.dates {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

li {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  color: #344563;
  list-style-type: none;
}

.stack-backend {
  color: #7a869a;
}

.paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #344563;
}

.stacks {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
}

.stack-over {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #ebf0ff;
  padding: 4px 16px;
  border-radius: 8px;
}

.btn {
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  width: 45%;
  margin-top: 12px;
}

.btn:link {
  color: #6070ff;
  background-color: #fff;
}

.btn:hover {
  background-color: #396df2;
  color: #fff;
}

.btn:active {
  background-color: #2230d2;
  color: #fff;
}

.btn:disabled {
  background-color: #fff;
  color: #5e6c84;
}

/* ------About------ */

.about-fonts {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  color: #172b4d;
}

#about {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 0 60px 0 0;
  margin-top: 5rem;
}

.main-about {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 114px 24px 54px 24px;
}

#icons-about {
  width: 40px;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 21px;
  margin-top: 21px;
  list-style-type: none;
  padding: 8px;
}

.btn-resume {
  color: #396df2;
  border: 1px solid #396df2;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  margin-top: 34px;
  width: 48%;
  padding: 12px 0;
  display: inline-block;
}

.btn-resume:link {
  color: #5e6c84;
  background-color: #fff;
}

.btn-resume:hover {
  background-color: #396df2;
  color: #fff;
}

.btn-resume:active {
  background-color: #2230d2;
  color: #fff;
}

.btn-resume:disabled {
  background-color: #fff;
  color: #5e6c84;
}

.container-end {
  margin: 0 66px 0 36px;
}

.cont-lang {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
  gap: 12px;
}

.cont-stack {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
  background-color: #f7f7f9;
  border-radius: 8px;
  padding: 12px;
}

.final-stack {
  display: flex;
  flex-direction: column;
  margin-right: -28px;
}

.underline-frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px -28px 24px 0;
  gap: 12px;
  border-bottom: 1px solid #dfe1e6;
}

.underline-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 36px -28px 24px 0;
  gap: 12px;
  border-bottom: 1px solid #dfe1e6;
}

.chevron {
  margin-right: -16px;
}

.frame-skills {
  margin-bottom: 17.2rem;
}

.cont-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 48px 0 12px;
}

.cont-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 48px 0 12px;
}

h5 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

/* ------Contact Section------ */

.contact-section {
  display: flex;
  flex-direction: column;
  background: url(./images/contact\ form\ shapes-mobile2.svg);
  background-repeat: no-repeat;
  background-size: 85% 91%;
  background-position-y: 21px;
  background-position-x: 152px;
  border-radius: 60px 0 0 0;
  background-color: #6070ff;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 103px 24px 0 24px;
}

h6 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  line-height: 52px;
  color: #fff;
}

.contact p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 52px;
  margin-bottom: 0;
  gap: 20px;
}

textarea {
  resize: none;
  font-family: 'Popins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.types {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  font-style: normal;
}

.form-group input {
  background-color: #fdfafa;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  width: 100%;
  height: 48px;
  margin-bottom: 12px;
  padding: 16px;
  color: #172b4d;
}

.form-group textarea {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  width: 100%;
  height: 140px;
  margin-bottom: 4px;
  padding: 20px;
  color: rgb(43, 41, 41);
}

.form-group .btn-input {
  background-color: #f4f4f5;
  color: #6070ff;
  text-align: center;
  text-decoration: none;
  padding: 0.25rem;
  width: 40.85%;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.5rem;
}

.form-group .btn-input:link {
  background-color: #fff;
  color: #6070ff;
}

.form-group .btn-input:hover {
  background-color: #6070ff;
  color: #fff;
}

.form-group .btn-input:active {
  background-color: #2230d2;
  color: #fff;
  border: none;
}

.form-group .btn-input:disabled {
  background-color: #fff;
  color: #5c6c84;
}

.border-line {
  border-bottom: 0.5rem solid #0d151e;
  width: 40.85%;
  margin: 1.5rem auto 0.75rem auto;
  border-radius: 0.5rem;
}


/* Styles for the popup */
.popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
/*display: flex;
position: absolute;
flex-direction: column;
left: 0;
top: 0;
background: rgba(96, 112, 255, 0.9);
width: 100%;
height: 100vh;
backdrop-filter: blur(5px);
padding: 8rem 2rem;
}*/

.popup {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-title {
  font-size: 24px;
  font-weight: bold;
}

.popup-content {
  margin-top: 20px;
}

.onepoint {
  display: flex;
  flex-direction: row;
}

.popup-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between
}

.popup-button {
  margin-left: 10px;
  padding: 1px 40px;
  background-color: #fff;
  color: #6070ff;
  border: 1px solid #6070ff;
  border-radius: 10px;
  cursor: pointer;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}




@media screen and (min-width: 768px) {
  /* ------Header Desktop------ */

  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: -1rem auto;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
    background-color: #fff;
  }

  .logo-personal {
    margin: -4rem 8rem;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin: -1rem 10rem;
  }

  .hamburguer {
    display: none;
  }

  .item-styles {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    text-decoration: none;
    list-style: none;
  }

  .item-styles:hover {
    color: #6070ff;
  }

  /* ------Healine Desktop------ */

  #headline {
    display: flex;
    flex-direction: column;
    background: url(./images/Header\ bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 0 0 0 60px;
    background-color: #fff;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20vw 10vw;
  }

  .social-deskt {
    gap: 1rem;
    margin: 2rem 9rem;
  }

  #icons {
    margin-top: 2rem;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4.1rem;
    line-height: 3.75rem;
    color: #172b4d;
    margin-left: 9rem;
  }

  .main-text p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 1rem 9rem;
  }

  /* ------works Desktop------ */
  .card-content-deskt {
    display: flex;
    flex-direction: column;
    margin: 2rem 3rem;
    gap: 12px;
  }

  .image-mob {
    display: none;
  }

  .desktop-hide {
    visibility: hidden;
    position: absolute;
  }

  .desktop-show {
    visibility: visible;
    position: static;
  }

  .card-desk {
    display: flex;
    flex-direction: row;
  }

  .card-hero {
    margin: 4rem;
    margin-left: -1rem;
  }

  .desktop-image {
    width: 42vw;
    height: 90%;
    visibility: visible;
    position: static;
    margin: 2rem;
  }

  .card-desk2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .card-hero2 {
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: -1rem;
  }

  .desktop-image2 {
    width: 38vw;
    height: 90%;
    visibility: visible;
    position: static;
    margin: 2rem;
  }

  .card-desk3 {
    display: flex;
    flex-direction: row;
  }

  .card-hero3 {
    margin: 3rem;
    margin-left: -2rem;
  }

  .desktop-image3 {
    width: 42vw;
    height: 90%;
    visibility: visible;
    position: static;
    margin: 2rem;
    align-items: center;
  }

  .card-desk4 {
    display: flex;
    flex-direction: row-reverse;
  }

  .card-hero4 {
    margin-top: 4rem;
    margin-right: -3rem;
  }

  .desktop-image4 {
    width: 42vw;
    height: 90%;
    visibility: visible;
    position: static;
    margin: 2rem;
  }

  .ton {
    font-size: 48px;
    font-weight: 700;
    font-style: normal;
    line-height: 44px;
    color: #091e42;
  }

  .card-hero,
  .card-hero2,
  .card-hero3,
  .card-hero4,
  .btn {
    margin-bottom: 10rem;
  }

  .pa {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #344563;
  }

  /* ------about Desktop------ */
  #about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: row;
    justify-items: space-around;
    align-items: first baseline;
  }

  .main-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8vw 7vw;
  }

  .final-stack {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .stack-deskt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 13rem;
    background-color: #f7f7f9;
  }

  /* ------contact Desktop------ */
  .back-deskt {
    background: url(./images/contact-form-background-shapes.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 120px 0 0 0;
    background-color: #6070ff;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8vw 32vw;
  }

  .border-line {
    display: none;
  }

  .form-group .btn-input {
    display: inline-block;
  }

  /* ----popup------*/
  .popup {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1556px;
    height: 1163;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .desktop-image {
    width: 42vw;
    height: 90%;
    visibility: visible;
    position: static;
    margin: 2rem;
  }
}
