@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

:root {
  --blue: #6070ff;
}

.md-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.primary-link {
  color: #6070ff;
}

.primary-title {
  color: #091e42;
}

.primary-text {
  color: #344563;
}

.secondary-links {
  color: #7f8cff;
}

body {
  margin: 0;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

ul {
  list-style: none;
}

.head1 {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: white;
  height: 48px;
  top: 0;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: none;
}

.logo {
  margin-left: 24px;
}

.logo a {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--blue);
}

.logo:hover {
  color: #6070ff;
  font-size: 60px;
}

.burger {
  margin-right: 28px;
}

/*#hamburguer {
  display: inline-block;
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}*/

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 718px;
  background-color: white;
  margin-top: 48px;
  border-bottom-left-radius: 80px;
  padding: 0 48px 100px 48px;
  background-image: url(./images/backgroundmovsection.png);
  background-size: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
}

.headline h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0 0 12px 0;
}

.headline p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-bottom: 12px;
}

.connect {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  padding: 0;
  margin: 0;
}

.social-links li {
  padding-right: 18px;
}

.projects {
  display: grid;
  margin: 110px 24px;
  row-gap: 72px;
}

.cards {
  background-color: white;
  border-radius: 24px;
  border: 1px solid #dfe1e6;
  padding: 24px;
}

.img-project img {
  width: 100%;
  height: auto;
}

.cards h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 12px 0 12px 0;
}

.info-tags {
  display: flex;
  align-items: baseline;
}

.cards h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin: 0;
}

.info-tags p {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin: 0 0 0 10px;
}

.info-tags p::before {
  content: url(./images/Counter.png);
  display: inline-block;
  margin-right: 10px;
}

.cards-p .primary-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 20px 0;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  padding: 0;
}

.tags li {
  margin-bottom: 8px;
}

.tags a {
  padding: 4px 12px 4px 12px;
  background-color: #ebebff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: var(--blue);
  margin-right: 8px;
}

.tags a:hover {
  background-color: #d6d6ff;
}

.main-buttons {
  padding: 12px;
  border: 1px solid #7f8cff;
  border-radius: 8px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  margin: 14px 0 18px 0;
  width: fit-content;
}

.main-buttons:hover {
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
}

.main-buttons:active {
  background-color: #2230d2;
  color: white;
  border-color: #2230d2;
}

.about-myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-top-right-radius: 80px;
  padding: 60px 110px;
}

.content-about-myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-myself h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 12px 0;
}

.about-myself p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 0 0 12px 0;
}

.about-myself .social-links {
  padding-left: 18px;
}

.about-myself-ul {
  padding: 60px 0 0 0;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
  padding: 0 42px 23px 12px;
  border-bottom: 1px solid #dfe1e6;
  margin-top: 24px;
}

#open {
  border-bottom: none;
}

.languages-ul {
  padding-left: 12px;
}

.languages {
  background-color: #f7f7f9;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding: 9px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #253858;
}

#js::before {
  content: url(./images/Ellipse.png);
  padding-right: 16px;
}

#html::before {
  content: url(./images/Ellipse-2.png);
  padding-right: 16px;
}

#css::before {
  content: url(./images/Ellipse-3.png);
  padding-right: 16px;
}

#consection {
  display: flex;
  flex-direction: column;
  background: url(../images/contactformshapes.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #6070ff;
  border-top-left-radius: 80px;
  flex: none;
  order: 5;
  flex-grow: 0;
  align-content: center;
}

.contact {
  margin: 103px 24px 0 24px;
  list-style: none;
}

#h2 {
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-top: 40px;
  text-align: center;
  list-style: none;
}

.contact h2 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  list-style: none;
  justify-content: center;
}

.contact p {
  display: flex;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.labels {
  display: none;
}

.input-container {
  width: calc(100% - 30px);
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  height: 48px;
  margin-bottom: 20px;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
}

.input-container-2 {
  width: calc(100% - 30px);
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  height: 170px;
  margin-bottom: 22px;
  padding: 15px;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #172b4d;
}

.input-container::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b3bac5;
}

.input-container-2::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #b3bac5;
}

.button-form {
  align-self: self-start;
  background-color: white;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--blue);
  padding: 12px 16px;
  border: 1px solid var(--blue);
}

.button-form:hover {
  background-color: var(--blue);
  color: white;
  border-color: white;
}

.button-form:active {
  background-color: #2230d2;
  color: white;
  border-color: #2230d2;
}

@media screen and (min-width: 768px) {
  nav {
    height: 140px;
  }

  .burger {
    display: none;
  }

  .logo {
    margin-left: 148px;
  }

  .links {
    display: flex;
    margin: 0 148px 0 0;
    padding: 0;
    font-weight: 500;
    font-size: 0.9em;
    line-height: 20px;
  }

  .links li {
    margin-left: 2.22vw;
  }

  .headline {
    background-image: url(./images/background-desktop-contact-form.png);
    background-size: contain;
    background-position: center;
    margin-top: 140px;
    padding: 0 245px 190px 245px;
  }

  .headline p {
    max-width: 870px;
  }

  .projects {
    padding: 160px;
    row-gap: 160px;
  }

  .cards {
    display: flex;
  }

  .img-project {
    align-self: center;
  }

  .img-project img {
    width: 420px;
  }

  .content {
    margin: 0 44px;
  }

  .content h2 {
    padding-top: 12px;
  }

  .info-tags {
    padding-bottom: 12px;
  }

  .right-image {
    flex-direction: row-reverse;
  }

  .right-image .content {
    margin: 0 30px;
  }

  .about-myself {
    flex-direction: row;
    justify-content: start;
    padding: 94px 140px;
  }

  .content-about-myself {
    width: 65%;
    min-width: 295px;
    margin-right: 24px;
  }

  .about-myself-ul {
    width: 100%;
    padding: 0;
  }

  .languages-ul {
    display: flex;
  }

  .languages {
    width: 87px;
    margin-right: 0.6em;
    padding-top: 75px;
    justify-content: center;
  }

  #js::before {
    position: absolute;
    padding-bottom: 90px;
    padding-left: 20px;
  }

  #html::before {
    position: absolute;
    padding-bottom: 90px;
    padding-left: 20px;
  }

  #css::before {
    position: absolute;
    padding-bottom: 90px;
    padding-left: 20px;
  }

  .contact-section {
    padding-top: 60px;
  }

  .contact-container {
    padding: 60px 340px;
    background-image: url(./images/background-desktop-contact-form.png);
    background-size: contain;
    background-position: center;
  }

  .form-container {
    max-width: 540px;
  }

  .button-form {
    align-self: center;
  }
}
